.container {
  padding: 50px;
  .search {
    display: flex;
    margin: 30px 0;
  }
  .pagination {
    display: flex;
    margin: 50px 0;
    width: 100%;
    justify-content: center;
    > * {
      width: max-content;
    }
  }
}